<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>CREATE A NEW ANIMAL</h2>
        <form action="/addAnimal" method="post">
        Name<input type="text" name="name"><br>
        Description<input type="text" name="description"><br>
        Food it Eats<input type="text" name="food"><br>
        <input type="submit" value="Submit">

    </form>
     <a href="/" type="button">HOME!</a> 
    
</body>
</html>