<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>showing animal</h2>
     <% for(var i in animal) { %> 
    <p>Name: <%= animal[i].name %> </p>
    <p>Description: <%= animal[i].description %> </p>
    <p>Food it Eats: <%= animal[i].food %> </p>
    <a href="/" type="button">HOME!</a> 
     <% } %> 


</body>
</html>